@use "page.scss";

html, body {
    height: 100%;
    padding: 10px;
    overflow: auto !important;
}

p {
    font-weight: bold;
}

.pf-v6-c-nav {
    --pf-v6-c-nav__link--FontSize: 1.2rem;
}

.force-color {
    color: #666;
}
